/* from here: https://blog.devgenius.io/word-cloud-with-html-and-css-tutorial-1fa17642391e*/
body {
    /* center content */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    /* grid */
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 5px;
    /* A grid-template is a shorthand for defining the layout similar to excel format only here each row is made of text containing
    name references to objects (in our case it’s the “grid-area” or empty cells defined as “.”) separated by spaces. */
    grid-template:
    '. . . Information Documentation Documentation Documentation Documentation'
    'Computer Computer Computer Information Coding Debugging Learning Testing'
    '. Readability Software Information Coding Debugging Learning Design     '
    '. . Software Information Programming Debugging Learning Design'
    '. . Software Information Algorithm Debugging Learning Design'
    '. . . Information . . Learning .';

}
body > div {
    text-shadow: 3px 5px 8px rgba(1, 1, 1, 0.3);
}
/* base font color for all words */
body > div {
    color: #022f40;
}
/* twice the size, bold and different color for each second word */
body :nth-child(2n) {
    font-size: 2rem;
    color: #38aecc;
    font-weight: bold;
}
/* vertical orientation and different color for each third word */
body :nth-child(3n) {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    color: #0090c1;
}
/* triple size and different color for each fourth word */
body :nth-child(4n) {
    font-size: 3rem;
    color: #183446;
}
/* quadruple size and different color for each fifth word */
body :nth-child(5n) {
    font-size: 4rem;
    color: #046e8f;
}

#Programming {
    grid-area: Programming;
}
#Algorithm {
    grid-area: Algorithm;
}
#Software {
    grid-area: Software;
}
#Documentation {
    grid-area: Documentation;
}
#Coding {
    grid-area: Coding;
}
#Information {
    grid-area: Information;
}
#Testing {
    grid-area: Testing;
}
#Computer {
    grid-area: Computer;
}
#Debugging {
    grid-area: Debugging;
}
#Design {
    grid-area: Design;
}
#Readability {
    grid-area: Readability;
}
#Learning {
    grid-area: Learning;
}