/* from here: https://blog.devgenius.io/word-cloud-with-html-and-css-tutorial-1fa17642391e*/
body {
    /* center content */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    /* grid */
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 5px;
    /* A grid-template is a shorthand for defining the layout similar to excel format only here each row is made of text containing
    name references to objects (in our case it’s the “grid-area” or empty cells defined as “.”) separated by spaces. */

  /*   grid-template:
    '. . . . Documentation Documentation Documentation Documentation . Green'
    'Computer Computer Computer Information Coding Debugging Learning Testing . Green'
    '. Readability Software Information Coding Debugging Learning Design Sky Green'
    '. . Software Information Programming Debugging Learning Design Sky Green'
    '. . Software Information Laban Debugging Learning Design Sky Green'
    '. . . Information . . Learning . Sky Green';
 */
 grid-template:
    '. Documentation Documentation'
    '. Documentation Documentation'
    'Readability Software .';
}
body > div {
    text-shadow: 3px 5px 8px rgba(1, 1, 1, 0.3);
}
/* base font color for all words */
body > div {
    color: #022f40;
}

body > div > a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #022f40;

}
/* twice the size, bold and different color for each second word */
body :nth-child(2n) {
    font-size: 2rem;
    color: #38aecc;
    font-weight: bold;
}
/* vertical orientation and different color for each third word */
body :nth-child(3n) {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    color: #0090c1;
}
/* triple size and different color for each fourth word */
body :nth-child(4n) {
    font-size: 3rem;
    color: #183446;
}
/* quadruple size and different color for each fifth word */
body :nth-child(5n) {
    font-size: 4rem;
    color: #046e8f;
}
/* quadruple size and different color for each fifth word */
body :nth-child(6n) {
    font-size: 4rem;
    color: #048f27;
}
body :nth-child(7n) {
    font-size: 4rem;
    color: #3e0439;
}
body :nth-child(8n) {
    font-size: 4rem;
    color: #bc7b26;
}
body :nth-child(9n) {
    font-size: 4rem;
    color: #e5518f;
}
body :nth-child(10n) {
    font-size: 4rem;
    color: #0cbd94;
}
body :nth-child(11n) {
    font-size: 4rem;
    color: #7aaa3e;
}
#Spring {
    grid-area: Spring;
}
#Sky {
    grid-area: Sky;
}
#Programming {
    grid-area: Programming;
}
#Laban {
    grid-area: Laban;
}
#Software {
    grid-area: Software;
}
#Documentation {
    grid-area: Documentation;
}
#Coding {
    grid-area: Coding;
}
#Information {
    grid-area: Information;
}
#Testing {
    grid-area: Testing;
}
#Computer {
    grid-area: Computer;
}
#Debugging {
    grid-area: Debugging;
}
#Design {
    grid-area: Design;
}
#Readability {
    grid-area: Readability;
}
#Learning {
    grid-area: Learning;
}